
.mat-dialog-content {
  position: absolute;
  right: 0;
  top: 0px;
  margin: 0;
  padding: 0;

  .cart {
    width: 670px;
    min-height: 560px;
    background-color: white;

    .header {
      top: 0;
      right: 0px;
      width: 675px;
      position: fixed;
      height: 90px;
      display: flex;
      background-color: white;
      align-items: end;
      padding: 30px;
      justify-content: space-between;
      padding-right: 90px;
      z-index:5;
      h3 {
        font-family: MyFontB;
        margin: 0;
      }

      p {
        cursor: pointer;
        font-size: 12px;
        margin: 0;
      }

      p:hover {
        color: #2d7d7d;
      }

      span {
        position: absolute;
        font-size: 35px;
        top: 23px;
        right: 30px;
        cursor: pointer;
      }

      span:hover {
        color: #2d7d7d;
      }
    }

    .some-basket {
      padding-top: 95px;
      padding-bottom: 20px;
    }

    .img {
      width: 110px;
      margin: 0 40px;
    }

    svg:hover {
      color: #b5d8f7;
    }

    .information {
      position: relative;
      margin: 10px auto;
      border: 1px solid lightgray;
      width: 92%;
      min-height: 120px;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: start;

      span {
        position: absolute;
        font-size: 25px;
        top: 0px;
        right: 15px;
        cursor: pointer;
      }

      span:hover {
        color: #2d7d7d;
      }

      .btn-group {
        display: flex;
        justify-content: center;
        margin: 0 5px;
        position: static;

        button {
          width: 30px;
          height: 30px;
          background-color: white;
          text-align: center;
          padding: 0;
          border: none;
          border-radius: 4px;
          font-family: MyFontB;
        }

        .minus, .plus {
          background-color: rgba(245, 242, 242, 0.67);
        }

        .value {
          background-color: rgba(255, 255, 255, 0);
        }

        .minus:hover,
        .plus:hover {
          background-color: #2d7d7d;
          color: white;
        }
      }
    }


  }
}

.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.buy {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 3px solid #2d7d7d;
  width: 675px;
  height: 15%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 30px ;
  font-size: 24px;

  span {
    font-family: serif;
  }

  button {

    font-size: 16px;
    height: 50px;
    padding: 10px;
    border: 2px solid #2d7d7d;
    background-color: #2d7d7d;
    color: white;
    border-radius: 10px;
  }


  button:hover {
    background-color: white;
    color: #2d7d7d;

  }
}
.basket-price{
  position: absolute;
  bottom: 20px;
  right: 15px;
}
@media screen and (max-width: 767px) {
  .mat-dialog-content {
    .cart {
      width: 100%;
      .header {
        width: 100%;
      }
    }
  }
  .buy {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .mat-dialog-content {
    .header{
      h3{
        font-size: 16px;
      }
      p{font-size: 14px;
      }
    }
    .cart {
      .img {
        margin: 0 10px;
        width: 30%;
      }
    }
  }
  .buy {
    height: 16%;
    flex-direction: column;
    font-size: 16px;
    button{
      width: 100%;
    }
  }
}

