<form *ngIf="!isLogin" [formGroup]="authForm">
    <h3 class="title ">Вхід в кабінет</h3>
    <div class="form-group">
        <input type="email" formControlName="email" placeholder="*Ваш емейл">
    </div>
    <div class="form-group">
        <input type="password" formControlName="password" placeholder="*Ваш пароль">
    </div>
    <button [disabled]="authForm.invalid" type="button"  *ngIf="!isLogin" class="btn " (click)="loginUser()"
      mat-dialog-close><a>УВІЙТИ В
        КАБІНЕТ</a></button>
        <div class="other col-11">  <a class="txt2" style="color:#2d7d7d">Забули пароль?</a>
    <a class="txt2" (click)="changeIsLogin()">Зареєструватися</a></div>

</form>
<form *ngIf="isLogin" [formGroup]="registerForm">
    <h3 class="title ">Зареєструватися</h3>
    <div class="form-group-little">
        <input type="text" formControlName="firstName" placeholder="*Ваше ім'я">  <input type="text" formControlName="lastName" placeholder="*Ваше прізвище">
    </div>
    <div class="form-group">
        <input type="text" formControlName="phoneNumber"  placeholder="*Ваш телефон">
    </div>
    <div class="form-group">
        <input type="email" formControlName="email" placeholder="*Ваш емейл">
    </div>
    <div class="form-group-little">
        <input type="password" formControlName="password" placeholder="*Пароль">
      <input type="password"  formControlName="password2"  placeholder="*Повторіть пароль">
    </div>
    <button [disabled]="registerForm.invalid"  type="button"  class="btn " (click)="registerUser()"
      ><a>ЗАРЕЄСТРУВАТИСЬ</a></button>
  <p class="error" *ngIf="errorPass">Помилка реєстрації. Підтвердження паролю не співпадає.</p>
        <div class="other2 col-11">
 <span>Вже зареєстровані?</span>   <a class="txt2" style="color:#2d7d7d" (click)="changeIsLogin()">Увійти</a></div>
</form>
