
.tab-content {
  margin: auto;
  width: 585px;
}

input{
    width: 585px;
    height: 50px;
    margin:10px  0 ;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding:10px;
    font-family: serif;
}
h4{
  font-family: MyFontB;
    margin-left: 10px;
}
input:focus {
    outline: 1px solid #2d7d7d;
    border-radius: 3px;
}
button {
    width: 585px;
    height: 50px;
    margin:20px  0px ;
    border: 2px solid #2d7d7d;
    border-radius: 10px;
  background-color: #2d7d7d;
  color: white;
  font-family: MyFontB;
}
.btn:hover{
  background-color: white;
  color: #2d7d7d;
}
@media screen and (max-width: 1199px) {
  .tab-content, input,button {
      width: 610px;

  }
}
@media screen and (max-width: 991px) {
  .tab-content, input,button {
      width: 690px;
    }
}
@media screen and (max-width: 767px) {
    .tab-content, input,button  {
      width: 510px;
  }
}
@media screen and (max-width: 573px) {
  .tab-content{
 width:   95%;
  input,button {
    width: 100%;
  }}

}



